<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-card>
    <ion-card-header collapse="condense">
      <img src="assets/ionic.jpg" alt="ionic icon">
      <ion-card-title>Ionic</ion-card-title>
    </ion-card-header>
    
    <ion-card-content [fullscreen]="true">
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br>
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    </ion-card-content>
  </ion-card>
</div>
