<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<div id="container">
  <ion-list>
    <h3>e-avenue</h3>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <ion-icon name="mail"></ion-icon>
          <a href="https://google.com"> Lorem@ipsum.com</a>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <ion-icon name="call"></ion-icon>
          <a> 30 + 210000</a>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <ion-icon name="locate"></ion-icon>
          <a> Lorem  34 street ipsum</a>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6057.6474314008265!2d22.959822053164668!3d40.611712900603365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a838dda6843edd%3A0xe61856ad2fb41e7f!2zzprPic69z4PPhM6xzr3PhM65zr3Ov8-Fz4DPjM67zrXPic-CLCDOmM61z4PPg86xzrvOv869zq_Ous63!5e0!3m2!1sel!2sgr!4v1653839773861!5m2!1sel!2sgr"></iframe>
</div>

