<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

 <!-- <ion-content  [fullscreen]="true">
  <div #map id="map"></div> 
</ion-content>  -->

<div id="container">
  <ion-list>
    <h3>e-avenue</h3>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <ion-icon name="mail"></ion-icon>
          <a href="https://google.com"> Lorem@ipsum.com</a>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <ion-icon name="call"></ion-icon>
          <a> 30 + 210000</a>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <ion-icon name="locate"></ion-icon>
          <a> Lorem  34 street ipsum</a>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</div>
