<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-card>
    <ion-card-header collapse="condense">
      <ion-card-subtitle>Lorem ipsum Subtitle</ion-card-subtitle>
      <ion-card-title>Lorem ipsum Title</ion-card-title>
    </ion-card-header>
    
    <ion-card-content [fullscreen]="true">
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum<br>
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    </ion-card-content>
  </ion-card>
</div>
